.w-400{
    width: 25rem;
}

.bg-confirm{
    background-color: var(--dark-green);
    color: var(--neutral-white);
}

.bg-warning{
    background-color: var(--yellow-warning);
    color: var(--neutral-white);
}

.bg-error{
    background-color: var(--red-warning);
    color: var(--neutral-white);
}