<section class="position-relative">
    @if (_loading) {
        <div class="d-flex jutify-content-center aling-item-center vw-100 vh-100 position-absolute bg-neutral-black" style="z-index: 1000;">
            <app-spinner/>
        </div>
    }

    <div class="toast-card position-absolute"
        [class.active]="_toasts && _toasts.active"
        style="z-index: 2000; top: 2%; right: 1%;"
    >
        <app-toasts-card
            [title]="_toasts?.title"
            [message]="_toasts?.message"
            [type]="_toasts?.type || 'confirm'"
        ></app-toasts-card>
    </div>
    <router-outlet style="z-index: 100;"/>
</section>